body {
    font-family:fantasy;
}

h1, h2, h3 {
    font-weight: 150;
}

h2, h3 {
    margin: 0.1px;
}

div h2{
    color: white;
    background-color: black;
    text-align: center;
}

div h3{
    color: red;
    background-color: black;
}

.botao {
    background-color: blue;
    color: white;
}

p {
    color: black;
}
