div h1{
    color: white;
    background-color: black;
    text-align: center;
}

div h3{
    color: red;
    background-color: black;
}

.botao {
    background-color: blue;
    color: white;
}

p {
    color: orangered;
}

.formulario {
    display: ;
}