.TabelaProdutos table {
    width: 100%;
    /* text-align: center; */
}

.TabelaProdutos th {
    background-color: #9baaff;
    color: #000000;
}

.TabelaProdutos td {
    color: rgb(0, 0, 0);
}

/* Class condicional para retornar no arquivo jsx uma tabela zebrada */
.TabelaProdutos .par {
    background-color: #ddd;
}

/* Class condicional para retornar no arquivo jsx uma tabela zebrada */
.TabelaProdutos .impar {
    background-color: #ccc;
}